<form method="POST" action="/" >
  <div class="form-floating mt-5 center-pos">
    <input type="text" class="form-control url-input" id="url" name="url" placeholder="name@example.com">
    <label for="url" class="center-pos">Enter URL</label>
  </div>
  <div class="center-pos mt-3">
    <button type="submit" class="btn btn-info ">Shorten</button> 
  </div>
</form>